include pyproject.toml
include README.md
include LICENSE.md

recursive-include wagtail_to_ion/templates *
recursive-include wagtail_to_ion/static *

recursive-exclude test_app *
recursive-exclude test_proj *

global-exclude *.py[cod]
